@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


body{
    background-color: gray;
}

/*-------Header Section--------*/


.header .navbar .logo h2{
    font-size: 2.5em !important;
    margin-left: 1vw;
    margin-top: 2.5vh;
    
}
.header .navbar .logo img{
    margin-top: 2vh;
    width: 8vw !important;
    height: 10vh !important;
    margin-left: 2vw !important;
    border-radius: 50%;
}
.header .navbar .logo h2 span{
    color: white;
    text-shadow: 4px 4px 4px black;
}

.header .navbar .menu{
    width: 35vw;
    font-size: 1.5em;
    display: flex;
    justify-content: space-around !important;
    list-style: none;
    font-family:"Nerko One", cursive;
    
}
.header .navbar .menu li a{
    text-decoration: none;
    color: white;
    transition: 0.6s;
}
.header .navbar .menu li a:hover{
    font-size: 1.8em;
    transition: 0.6s;
    color: black;
}

/*--------MAIN SECTION----------*/

.main-cointainer{
    display: grid;
    grid-template-columns: 12fr 6fr;
    align-items: center;
    
}
.main-cointainer .bio{
    margin-top: 25vh !important;
}
.main-cointainer .img img{
    width: 25vw;
    border-radius: 2em;
    margin-top: 25vh !important;
}

.img-m1 img{
    border-radius: 90% !important;
}

.textUser{
    margin-top: 15vh !important;
}

.user-bot{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;
    gap: 8vw;
}


.contact-form{
    background-image: url(./img/fondo\ form.jpg) !important;
    backdrop-filter: blur(8px) !important;
    height: 50vh;
    width: 30vw;
    border-radius: 7rem;
    font-family: "Nerko One", cursive;
    font-weight: 400;
}


.header-form h2{
    color: white ;
    text-align: center;
    font-size: 3em;
}
.form-body input{
    color: white !important;
}
.form-body textarea{
    color: white !important;
}
.form-control::placeholder{
    color: white !important;
    font-size: 1.4em;
}
.bi{
    width: 5vw !important;
    height: 5vh !important;
}
.logo-footer img{
    width: 10vw;
    height: 10vh;
}
.contact-form{
    margin-top: 18vh;
}


@media(min-width:1500px) and (max-width:1800px){
    .contact-form{
        width: 40vw !important;
    }
    .projects{
        margin-right: 8em !important;
    }
}
@media(min-width:1000px) and (max-width:1499px){
    .contact-form {
        width: 45vw !important;
        }
    .header .navbar .menu{
        width: 45vw;
    }
    .header .navbar .logo img {
        margin-top: 2vh;
        width: 15vw;
        height: 15vh;
        margin-left: 3.5vw;
    }
        .projects {
            margin-right: 3em !important;
        }
    }
@media(min-width:850px) and (max-width:999px){
    .contact-form {
        width: 66vw !important;
    }
    .header .navbar .menu {
        width: 40vw;
        font-size: 1.2em;
    }
    .header .navbar .logo img {
        margin-top: 1vh;
        width: 19vw;
        height: 16vh;
        margin-left: 3vw;
    }
        .header .navbar .menu li a:hover {
            font-size: 1.4em;
            transition: 0.6s;
            color: black;
        }
                .projects {
                    margin-right: 4em !important;
                }
}
@media(min-width:750px) and (max-width:849px){
    .contact-form {
        width: 66vw !important;
    }

    .header .navbar .menu {
        width: 38vw;
        font-size: 1em !important;
    }

    .header .navbar .logo img {
        margin-top: 1.8vh;
        width: 15vw;
        height: 12vh;
        margin-left: 3.5vw;
    }
    .header .navbar .menu li a:hover {
        font-size: 1.2em;
        transition: 0.6s;
        color: black;
     }
}
@media(min-width:650px) and (max-width:749px) {
    .contact-form {
        width: 71vw !important;
    }

    .header .navbar .menu {
        width: 40vw;
        font-size: 1em;
    }

    .header .navbar .logo img {
        margin-top: 2vh;
        width: 14vw;
        height: 11vh;
        margin-left: 4.5vw;
    }
        .header .navbar .menu li a:hover {
            font-size: 1.2em;
            transition: 0.6s;
            color: black;
        }
}
@media(min-width:600px) and (max-width:649px) {
    .contact-form {
        width: 71vw !important;
    }

    .header .navbar .menu {
        width: 49vw;
        font-size: 0.9em !important;
    }

    .header .navbar .logo img {
        margin-top: 2vh;
        width: 14vw;
        height: 11vh;
        margin-left: 5.5vw;
    }

    .header .navbar .menu li a:hover {
        font-size: 1em;
        transition: 0.6s;
        color: black;
    }
}
@media(min-width:550px) and (max-width:599px) {
    .contact-form {
        width: 91vw !important;
    }

    .header .navbar .menu {
        width: 49vw;
        font-size: 0.9em !important;
    }

    .header .navbar .logo img {
        margin-top: 2vh;
        width: 14vw;
        height: 11vh;
        margin-left: 6.5vw;
    }

    .header .navbar .menu li a:hover {
        font-size: 1.2em;
        transition: 0.6s;
        color: black;
    }
}
@media(min-width:500px) and (max-width:549px) {
    .contact-form {
        width: 91vw !important;
    }

    .header .navbar .menu {
        width: 49vw;
        font-size: 1em !important;
    }

    .header .navbar .logo img {
        margin-top: 2vh;
        width: 14vw;
        height: 11vh;
        margin-left: 7vw;
    }

    .header .navbar .menu li a:hover {
        font-size: 1.3em;
        transition: 0.6s;
        color: black;
    }
}
@media(min-width:400px) and (max-width:499px) {
    .contact-form {
        width: 91vw !important;
    }

    .header .navbar .menu {
        width: 49vw;
        font-size: 0.9em !important;
    }

    .header .navbar .logo img {
        margin-top: 2vh;
        width: 14vw;
        height: 11vh;
        margin-left: 9vw;
    }

    .header .navbar .menu li a:hover {
        font-size: 1.2em;
        transition: 0.6s;
        color: black;
    }
}
@media(min-width:300px) and (max-width:499px) {
    .contact-form {
        width: 94vw !important;
    }

    .header .navbar .menu {
        width: 55vw;
        font-size: 0.9em !important;
    }

    .header .navbar .logo img {
        margin-top: 2vh;
        width: 0vw;
        height: 0vh;
        margin-left: 5.5vw;
    }

    .header .navbar .menu li a:hover {
        font-size: 1em;
        transition: 0.6s;
        color: black;
    }
}



/*QUERYS DE ALTURA*/
@media (min-height:500px) and (max-height:600px){

    .contact-form{
        height: 90vh;
        
    }
    .fs-6 h2{
        margin-top: 5em !important;
    }
}
@media (min-height:601px) and (max-height:700px) {

    .contact-form {
        height: 75vh;

    }

    .fs-6 h2 {
        margin-top: 5em !important;
    }
}
@media (min-height:701px) and (max-height:800px) {

    .contact-form {
        height: 65vh;

    }

    .fs-6 h2 {
        margin-top: 5em !important;
    }
}
@media (min-height:801px) and (max-height:900px) {

    .contact-form {
        height: 55vh;

    }

    .fs-6 h2 {
        margin-top: 5em !important;
    }
}
